@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html,
body {
  font-family: "Oswald", sans-serif;
}

:root {
  --color-blue: #001029;
  --color-light-blue: #00caf6;
}
